//
   Created by jewel on 2016/12/8.
html
    head
        title 联系我们
    body
      //link(rel='stylesheet', href= "./public/stylesheets/style.css")
      .contact
        != css("./public/stylesheets/style.css")
        h2 我们是炒鸡可爱的技术人员
        h4 邮箱：748392745@scut.edu.cn
        h4 电话：88888888
        h4 主页：WWW.88888.COM
        a.returnBtn(href= '/') 返回