//
   Created by jewel on 2016/12/8.
//<h1><%= message %></h1>
//<h2><%= error.status %></h2>
//<pre><%= error.stack %></pre>
html
    head
        title 出错啦
    body
        h1= message
        h2= error.status
        pre= error.stack
