//
   Created by jewel on 2016/12/8.

html
    head
        title 游戏结果
    body
        h1= result
        h2= '你所用的时间是：' + time
        h3= '本关卡的安卓玩家的最高分为：' + phonePeak
        h3= '本关卡的网页玩家的最高分为：' + webPeak