//Created by jewel on 2016/12/8.

html
    head
        title 游戏结果
    body
      != css("./public/stylesheets/style.css")
      .resultttt
        h1= result
        h2= '你所用的时间是：' + time
        a.rbtnBar(href= "/rank") 查看排行榜